<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
	  <add name="ChuoiKetNoi2" connectionString="Data Source=ADMIN-PC\SQLEXPRESS;Initial Catalog=QuanLyNhanKhauQuan;Integrated Security=True;TrustServerCertificate=True"/>
	  <add name="ChuoiKetNoi" connectionString="Data Source=171.244.141.46;Initial Catalog=QuanLyNhanKhauQuan;Persist Security Info=True;User ID=QuanLyNhanKhauQuan;Password=G3hEw4O@7!i@#;TrustServerCertificate=True"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
